[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "ohio-revised"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "llama-cpp-python>=0.3.16",
    "lmdb>=1.7.3",
]


